<footer class="footer text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Información de Contacto -->
        <div class="col-md-4">
          <h5 class="footer-title">Contactanos</h5>
          <ul class="list-unstyled footer-list">
            <li><i class="bi bi-house-door"></i> Comer y Llevar 750, Valparaíso, Chile</li>
            <li><i class="bi bi-telephone"></i> +569 54839109</li>
            <li><i class="bi bi-envelope"></i> info&#64;dieguital.com</li>
          </ul>
        </div>
        <!-- Redes Sociales -->
        <div class="col-md-4">
            <h5 class="footer-title">Síguenos</h5>
            <div class="social-icons">
              <a href="https://www.facebook.com/tu-perfil" class="text-white me-3" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-facebook"></i>
              </a>
              <a href="https://twitter.com/tu-perfil" class="text-white me-3" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-twitter"></i>
              </a>
              <a href="https://www.instagram.com/dieguitxxo/" class="text-white me-3" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i>
              </a>
            </div>
        </div>
          
        <!-- Enlaces Importantes -->
        <div class="col-md-4">
          <h5 class="footer-title">Enlaces</h5>
          <ul class="list-unstyled footer-list">
            <li><a href="/home" class="text-white">Inicio</a></li>
            <li><a href="/about" class="text-white">Sobre Nosotros</a></li>
            <li><a href="/services" class="text-white">Servicios</a></li>
            <li><a href="/contact" class="text-white">Contacto</a></li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-3">
        <p>&copy; 2024 BarberShop. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
