:host {
    display: block;
    background: linear-gradient(to right, #1A1A1A, #660000); /* Degradado de negro a rojo oscuro */
    padding: 20px;
    min-height: 70vh; /* Asegura que el componente ocupe al menos la altura completa de la vista */
    max-width: 100%; /* Evita desbordamiento horizontal */
    overflow-x: hidden; /* Evita desplazamiento horizontal */
    margin-top: -100px;
  }
  
  
  .form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2a1212; /* Fondo oscuro para el formulario */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Asegura que el formulario ocupe el ancho completo del contenedor */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
  }
  
  h1 {
    text-align: center;
    color: #ffffff; /* Rojo */
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff; /* Negro */
  }
  
  .form-control {
    width: 100%; /* Asegura que los campos ocupen el ancho completo del contenedor */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea.form-control {
    height: 100px;
    resize: vertical;
  }
  
  .btn-submit {
    background-color: #ff0000; /* Rojo */
    color: #fff; /* Blanco */
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* El botón ocupa el 100% del ancho del contenedor */
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #cc0000; /* Rojo más oscuro */
  }
  
  .mensajeError {
    color: red;
  }
  
  /* Media queries para pantallas pequeñas */
  @media (max-width: 767px) {
    .form-container {
      padding: 15px; /* Reduce el padding en pantallas más pequeñas */
      margin-top: 100px;
    }
  
    h1 {
      font-size: 1.5em; /* Reduce el tamaño del título */
    }
  
    .form-control {
      padding: 8px; /* Ajusta el padding de los campos en pantallas pequeñas */
    }
  
    .btn-submit {
      font-size: 0.9em; /* Reduce el tamaño del texto del botón */
      padding: 8px 15px; /* Ajusta el padding del botón en pantallas pequeñas */
    }
  }
  