<div class="about-container" id="aboutUs">
  <div class="container py-5">
    <div class="row">
      <!-- Imagen de la Empresa -->
      <div class="col-lg-6 col-md-6">
        <div class="about-image">
          <img src="imagenes/fondosobreNosotros.jpg" alt="Nuestro Carrito" class="img-fluid">
        </div>
      </div>
      <!-- Información de la Empresa -->
      <div class="col-lg-6 col-md-6 d-flex flex-column justify-content-center">
        <h2 class="text-danger aboutUs">Acerca de Nosotros</h2>
        <p class="">
          ¡Bienvenidos a **Gorra Vibe**! Tu destino único para descubrir los gorros y calcetines más frescos y estilosos del mercado. Aquí, la moda se encuentra con la funcionalidad, ofreciendo una amplia gama de diseños que elevan cualquier look. Desde gorros audaces hasta calcetines que expresan tu personalidad, cada producto está seleccionado con pasión y atención al detalle.
        </p>
        <p class="">
          En **Gorra Vibe**, creemos que cada accesorio cuenta una historia. Nuestro objetivo es que te sientas increíblemente cómodo y seguro en cada paso que des. Ya sea que estés buscando ese toque especial para un outfit casual o quieras destacar con algo único, estamos aquí para ayudarte a encontrar el complemento perfecto que refleje tu estilo personal.
        </p>
        <p class="">
          ¡Gracias por elegir **Gorra Vibe**! Estamos emocionados de acompañarte en tu viaje de estilo y esperamos que nuestros productos te hagan sentir tan bien como te ves. ¡Explora, disfruta y eleva tu vibe!
        </p>
        
      </div>
    </div>
  </div>
</div>

  
  