<div class="container-fluid mt-0 " id="menu">
  <h1 class="text-white">Menú</h1>
  <div class="row">
    <!-- Product Card -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 mt-4" *ngFor="let product of productos">
      <div class="card product-card">
        <img [src]="product.image" class="card-img-top" [alt]="product.name">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-price">{{ product.price | currency:'USD':'symbol' }}</p>
          <button class="btn  w-100 mt-2" >Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>
