/* Estilos para el formulario de registro */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #1A1A1A, #660000); /* Degradado de negro a rojo oscuro */
    /* font-family: 'Cinzel', serif; */

  }
  
  form {
    background-color: #2a1212; /* Fondo oscuro para el formulario */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    border: 3px solid white;
}
  
  h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Cinzel', serif;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-family: 'Cinzel', serif;
  }
  
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .form-group input:focus {
    border-color: #e74c3c;
    outline: none;
  }
  
  .radio-group {
    display: flex;
    justify-content: space-around;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
  }
  
  .error-message {
    color: #e74c3c;
    font-size: 0.8rem;
  }
  
  .btn {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background: #c0392b;
  }
  